<div class="card">
    <label class="pro-title">{{inProject.name}}</label>
    <div id="availability" class="pub-tag">{{available}}</div>
    <ul class="tags" *ngFor="let badge of inProject.tags">
        <li class="tag">{{badge}}</li>
    </ul>
    <hr>
    <div>{{inProject.details}}</div>
    <hr>
    <div *ngFor="let path of inProject.gallery">
        <!--set container for images flexbox- allow them to be smaller, up to two wide, and wrap.-->        
        <img *ngIf="inProject.gallery.length > 0" [src]="path.src" [alt]="path.alt" width="75%">
    </div>
    <hr>
    <div>{{inProject.link}}</div>
</div>