.form {
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.6);
    border-radius: 8px;
}

.single-text {
    height: 25px;
    width: 350px;
    border-radius: 6px;
    margin: 5px;
}

.spc {
    margin-top: 5px;
    margin-bottom: 5px;
}

.request-box {
    height: 230px;
    width: 448px;
    resize: none;
    border-radius: 4px;
}