<form class="form" [formGroup]="contactForm">
    <label>
        Your Name:
        <input class="single-text" type="text" formControlName="contactName">
    </label>
    <br>
    <label>
        Your Email:
        <input class="single-text" type="email" formControlName="contactEmail">
    </label>
    <br>
    <br>
    <label class="spc">
        Type of Request:
        <input type="radio" formControlName="requestType">Request Resume 
        <input type="radio" formControlName="requestType">Request More Info
    </label>
    <br>
    <br>    
    <label>Message:</label>
    <br>    
    <textarea class="request-box" width="95%" wrap="soft" formControlName="requestMessage"></textarea>
</form>