<div class="shift-theme container">
    <div class="right-panel"><!--Find way to collapse this on small screen sizes...740 is max with this...-->
        <h2>Rob Nichols</h2>
        <img class="profile-pic" src="../../assets/images/profilePic.jpg" alt="profile-picture">
        <p class="profile-text pro-title">Title: Software Developer</p>
        <label class="profile-text">Tools Used:</label>
        <ul class="profile-text tags">
            <li class="tag">.NET</li>
            <li class="tag">C#</li>
            <li class="tag">Angular (latest)</li>
        </ul>
        <label>Version: 0.0.2</label>
    </div>
    <div class="left-panel">
        <div class="container-content">
            <div class="content-head">
                <p>Hello, welcome to my profile page.<br><br>
                    My name is Rob Nichols, I am a software developer. My experience has been in full-stack, web development using .NET and Angular.<br> 
                    I have had some passing experience with other frameworks and technologies and I enjoy learning as much as I can.                    
                </p>
                <br><br>
                <div class="hobby-list">
                    <span>Hobbies: </span>
                    <img class="hobby-item" src="../../assets/images/control.png" style="width:100px;height:100px;" (click)="openModal('gameHobby')"/>
                    <img class="hobby-item" src="../../assets/images/piano.png" style="width:100px;height:100px;" (click)="openModal('musicHobby')"/>
                    <img class="hobby-item" src="../../assets/images/code.png" style="width:100px;height:100px;" (click)="openModal('codeHobby')"/>
                    <img class="hobby-item on-right" src="../../assets/images/mail.png" style="width:100px;height:100px; float:right;" (click)="openModal('contact')"/>
                </div>                
            </div>

            <modal id="gameHobby">
                <p class="modal-title">Game Title</p>
                <hr>
                <p>I love playing games. I am not a huge fan of games like Fortnight, but do enjoy playing co-op games. Most frequently I play
                    casual games on my phone that I can play in short time frames. But when I do have more time available I usually play PS4. Lately 
                    the games I play are games like Final Fantasy 15, Zero Horizon, and the Arkham Batman series. I am really looking forward to 
                    playing the Final Fantasy 7 Remake. I will on occation play more retro games like the old NES and SNES games. <br>
                    I am not opposed to playing table-top games or card games with friends and families either.
                </p>
            </modal>
            <modal id="musicHobby">
                <p class="modal-title">Music Title</p>
                <hr>
                <p>Modal text body</p>
            </modal>
            <modal id="codeHobby">
                <p class="modal-title">Code Title</p>
                <hr>
                <p>Modal text body</p>
            </modal>
            <modal id="contact">
                <contact-request></contact-request>
            </modal>

            <div class="content content-left">PROJECTS
                <div class="content-scroll">
                    <div *ngFor="let project of projects" class="project-buffer">
                        <project-card [inProject]="project"></project-card>
                    </div>
                </div>
            </div>
            <!-- <div class="content content-right">CONTACT FORM
                <contact-request></contact-request>
            </div> -->
        </div>        
    </div>
</div>