<div class="shift-theme container">
    <div class="right-panel"><!--Find way to collapse this on small screen sizes...740 is max with this...-->
        <h2>Rob Nichols</h2>
        <img class="profile-pic" src="../../assets/images/profilePic.jpg" alt="profile-picture">
        <p class="profile-text pro-title">Title: Software Developer</p>
        <label class="profile-text">Tools Used:</label>
        <ul class="profile-text tags">
            <li class="tag">.NET</li>
            <li class="tag">C#</li>
            <li class="tag">Angular (latest)</li>
        </ul>
    </div>
    <div class="left-panel">
        <div class="container-content">
            <div class="content-head">
                <p>Hello, welcome to my profile page.<br><br>
                    My name is Rob Nichols, I am a software developer. My experience has been in full-stack, web development using .NET and Angular.<br> 
                    I have had some passing experience with other frameworks and technologies and I enjoy learning as much as I can.                    
                </p>
                <br><br>
                <div class="hobby-list">
                    <span>Hobbies: </span>
                    <img class="hobby-item" src="../../assets/images/control.png" style="width:100px;height:100px;"/>
                    <img class="hobby-item" src="../../assets/images/piano.png" style="width:100px;height:100px;"/>
                    <img class="hobby-item" src="../../assets/images/code.png" style="width:100px;height:100px;"/>
                </div>
            </div>
            <div class="content content-left">PROJECTS
                <div class="content-scroll">
                    <div *ngFor="let project of projects" class="project-buffer">
                        <project-card [inProject]="project"></project-card>
                    </div>
                </div>
            </div>
            <div class="content content-right">CONTACT FORM
                <contact-request></contact-request>
            </div>
        </div>        
    </div>
</div>