<div class="shift-theme container">
    <div class="right-panel"><!--Find way to collapse this on small screen sizes...740 is max with this...-->
        <h2>Rob Nichols</h2>
        <img class="profile-pic" src="../../assets/images/profilePic.jpg" alt="profile-picture">
        <p class="profile-text pro-title">Title: Software Developer</p>
        <label class="profile-text">Tools Used:</label>
        <ul class="profile-text tags">
            <li class="tag">.NET</li>
            <li class="tag">C#</li>
            <li class="tag">Angular (latest)</li>
        </ul>
    </div>
    <div class=left-panel>
        <div class="container-content">
            <div class="content-head">
                <p>Hello, welcome to my profile page.<br><br>
                    My name is Rob Nichols, I am a software developer. My experience has been in full-stack, web development using .NET and Angular.<br> 
                    I have had some passing experience with other frameworks and technologies and I enjoy learning as much as I can.<br><br>
                    List some hobbies in a fun way.
                </p>
            </div>
            <div class="content content-left">PROJECTS
                <div *ngFor="let project of projects" class="project-buffer">
                    <project-card [inProject]="project"></project-card>
                </div>                
            </div>
            <div class="content content-right">CONTACT FORM
                <contact-request></contact-request>
            </div>
        </div>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Aliquet porttitor lacus luctus accumsan 
            tortor posuere ac ut. Urna nunc id cursus metus aliquam. Nisi scelerisque eu ultrices 
            vitae auctor eu augue. Ornare suspendisse sed nisi lacus sed viverra tellus. Risus in 
            hendrerit gravida rutrum quisque non tellus orci. In aliquam sem fringilla ut morbi 
            tincidunt augue interdum velit. Luctus venenatis lectus magna fringilla urna porttitor 
            rhoncus dolor. Ut pharetra sit amet aliquam id diam. Amet est placerat in egestas erat 
            imperdiet. Ut morbi tincidunt augue interdum velit euismod. Sapien faucibus et molestie 
            ac feugiat sed lectus. Interdum velit laoreet id donec ultrices tincidunt. Arcu cursus 
            vitae congue mauris rhoncus aenean vel elit. Eget sit amet tellus cras.</p>
    </div>
</div>