.shift-theme {    
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 30s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
    display: flex;
}

.right-panel {
    background-color: rgba(32, 32, 37, 0.2);
    padding: 20px 15px;
    min-width: 230px;    
    flex-grow: 1;
    order: 0;
}

.left-panel {
    background-color: rgba(155,155,155,0.2);
    flex-grow: 1;
    order: 1;
}

.profile-pic {    
    justify-content: center;
}

.profile-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #C2C3C4;
}

.pro-title {    
    font-weight: 600;
}

.pro-tools {    
    list-style: square;
}

.container-content {
    display: flex;
    flex-flow: row wrap;
    margin: 20px 10px;
    align-content: space-around;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

.container-content > .content-left, .container-content > .content-right {
    padding: 5px 10px;
}

.content-head {
    background-color: rgba(245, 245, 245, 0.6);
    text-align: center;
    flex: 1 100%;
    padding: 15px 20px;    
    margin: 0 5px 10px 5px;
}

.content-left {
    background-color: rgba(245, 245, 245, 0.6);
    flex-basis: 45%;
    flex-grow: 1;
    margin: 5px;
}

.content-right {
    background-color: rgba(245, 245, 245, 0.6);
    flex-basis: 45%;
    flex-grow: 1;
    margin: 5px;
}
