.shift-theme {    
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #C72828, #e7422c, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 30s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
    display: flex;
}

.right-panel {
    background-color: rgba(32, 32, 37, 0.2);
    padding: 20px 15px;
    min-width: 230px;    
    flex-grow: 1;
    order: 0;
}

.left-panel {
    background-color: rgba(155,155,155,0.2);
    flex-grow: 1;
    order: 1;
}

.profile-pic {    
    justify-content: center;
}

.profile-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #C2C3C4;
}

.pro-title {    
    font-weight: 600;
}

.tags{
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0
}
.tag{
    background: #3BB0BF;
    border-radius: 3px 8px 8px 3px;
    color: #555555;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-translation: color 0.2s;
}

.tag::before {
    background: #3BB0BF;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
  }

.tag::after {
    /* background: #8a5658; */
    border-bottom: 11px solid transparent;
    border-left: 10px solid #3BB0BF;
    border-radius: 8px;
    border-top: 11px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}
  
.tag:hover {
    background-color: #CF4D41;
    color: white;
}
  
.tag:hover::after {
    border-left-color: #CF4D41; 
}

.container-content {
    display: flex;
    flex-flow: row wrap;
    margin: 20px 10px;
    align-content: space-around;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

.container-content > .content-left, .container-content > .content-right {
    padding: 5px 10px 15px 10px;
}

.content-head {
    background-color: rgba(245, 245, 245, 0.6);
    text-align: center;
    flex: 1 100%;
    padding: 15px 20px;    
    margin: 0 5px 10px 5px;
}

.content-left {
    background-color: rgba(245, 245, 245, 0.6);
    flex-basis: 45%;
    flex-grow: 1;
    margin: 5px;
}

.content-right {
    background-color: rgba(245, 245, 245, 0.6);
    flex-basis: 45%;
    flex-grow: 1;
    margin: 5px;
}

.project-buffer {
    margin: 10px 0 20px 0;
}